<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div id="app" class="pt-5">
        <div id="header-propic" class="container border shadow-lg rounded-3 position-relative overflow-hidden">

            <div class="row">

                <!-- List Contacts section -->
                <div id="contacts-list" class="col-4 px-0 border-end" :class="leftMenu === true ? 'd-block' : ''">

                    <!-- Header -->
                    <div class="d-flex justify-content-between p-2">
                        <div class="d-flex align-items-center gap-2">
                            <figure>
                                <img class="rounded-circle" src="./assets/img/avatar_io.jpg" alt="propic">
                            </figure>
                            <h3 class="text-capitalize">sofia</h3>
                        </div>

                        <div class="d-flex align-items-center gap-3 opacity-50">
                            <i class="bi bi-clock-history fs-5"></i>
                            <i class="bi bi-chat-left-fill fs-5"></i>
                            <i class="bi bi-three-dots-vertical fs-5"></i>
                        </div>
                    </div>

                    <!-- Notifications alert -->
                    <div id="alert-new-messages">
                        <div class="d-flex align-items-center gap-2 p-3">
                            <figure class="bg-white rounded-circle">
                                <svg width="25" height="25" fill="#8EDAFC" class="bi bi-bell-slash-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M5.164 14H15c-1.5-1-2-5.902-2-7q0-.396-.06-.776zm6.288-10.617A5 5 0 0 0 8.995 2.1a1 1 0 1 0-1.99 0A5 5 0 0 0 3 7c0 .898-.335 4.342-1.278 6.113zM10 15a2 2 0 1 1-4 0zm-9.375.625a.53.53 0 0 0 .75.75l14.75-14.75a.53.53 0 0 0-.75-.75z" />
                                </svg>
                            </figure>
                            <div class="d-flex flex-column lh-sm">
                                <span class="fw-semibold name">Ricevi notifiche di nuovi
                                    messaggi</span>
                                <a class="after-name" href="">Attiva notifiche desktop</a>
                            </div>
                        </div>
                    </div>

                    <!-- Search bar -->
                    <div class="input-group p-1">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                        <input v-model="searchWord" @keyup="preventSpace()" type="text" class="form-control shadow-none"
                            placeholder="Cerca o inizia una nuova chat" aria-label="search"
                            aria-describedby="basic-addon1">
                    </div>

                    <!-- Contacts -->
                    <div id="overflow-contacts" class="overflow-auto">
                        <div v-for="(element, index) in contacts" @click="setChat(index); closeLeftMenu()"
                            v-show="element.name.toLowerCase().trim().includes(searchWord.toLowerCase().trim())"
                            :class="index === currentChat ? '' : 'bg-white'">
                            <div class="border-bottom chat-box">
                                <div class="d-flex justify-content-between p-2">
                                    <div class="d-flex align-items-center gap-2">
                                        <figure>
                                            <img class="rounded-circle" :src="element.avatar" alt="chat-profile-pic">
                                        </figure>
                                        <div class="d-flex flex-column lh-sm">
                                            <span
                                                class="text-capitalize fw-semibold name user-select-none">{{element.name}}</span>
                                            <span id="last-message-contacts" v-html="lastMessageCheck(index)"
                                                class="after-name text-truncate user-select-none"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-start gap-2 opacity-50 after-name user-select-none">
                                        {{lastDateCheck(index)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Chat section -->
                <div id="chat-section" class="col-8 px-0">

                    <!-- Header -->
                    <div class="d-flex justify-content-between p-2">
                        <div class="d-flex align-items-center gap-2">
                            <i @click="openLeftMenu()" class="bi bi-arrow-left-short fs-1"></i>
                            <figure>
                                <img class="rounded-circle" :src="contacts[currentChat].avatar" alt="chat-profile-pic">
                            </figure>
                            <div class="d-flex flex-column lh-sm">
                                <span
                                    class="text-capitalize fw-semibold name user-select-none">{{contacts[currentChat].name}}</span>
                                <span class="after-name opacity-75 user-select-none">{{isWritingCheck()}}</span>
                            </div>
                        </div>

                        <div class="d-flex align-items-center gap-3 opacity-50">
                            <i class="bi bi-search fs-5"></i>
                            <i class="bi bi-paperclip fs-5"></i>
                            <i class="bi bi-three-dots-vertical fs-5"></i>
                        </div>
                    </div>

                    <!-- Chat area -->
                    <div id="chat-background" class="overflow-auto pt-5 pb-3 position-relative"
                        @click="closeLeftMenu()">
                        <div v-for="(element, index) in contacts[currentChat].messages" class="w-75 mx-auto pt-2">
                            <div class="d-flex flex-column message-box rounded-2 shadow-sm position-relative"
                                :class="element.status === 'sent' ? 'message-box-sent' : 'message-box-received'">
                                <span class="pt-2 p-3 pb-4 pe-4">{{element.message}}</span>
                                <span class="opacity-50 user-select-none">{{displayLastDate(element.date)}}</span>
                                <i @click="setDisplayBox(index)" class="bi bi-chevron-down fs-6"></i>
                                <div class="flex-column gap-2 ps-4 p-3 rounded-1 shadow-lg message-dropdown"
                                    :class="currentBox === index ? 'd-flex' : 'd-none'">
                                    <span @click="copyMessage(index)" class="user-select-none">Copia messaggio</span>
                                    <span @click="deleteMessage(index)" class="user-select-none">Elimina
                                        messaggio</span>
                                    <div class="position-relative">
                                        <span @click="toggleInfoBox()" class="user-select-none">Info messaggio</span>
                                        <div id="infos-message" class="font-monospace flex-column"
                                            :class="infoBoxActive === true ? 'd-flex' : 'd-none'">
                                            <hr>
                                            <h4 class="text-center mb-1 mt-1">Infos</h4>
                                            <span>{{`Author: ${infosMessage(index)}`}}</span>
                                            <span>{{`date: ${element.date}`}}</span>
                                            <span>{{`status: ${element.status}`}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="emoji-container" :class="emojiContainerActive === true ? 'row' : 'd-none'"
                            class="justify-content-between p-2 rounded-3">
                            <span v-for="(element, index) in emojiArray" @click="insertEmoji(index)"
                                class="fs-1 px-0 user-select-none">{{element.emoji}}</span>
                        </div>
                    </div>

                    <!-- Text area -->
                    <div id="text-area" class="d-flex align-items-center gap-4 px-4">
                        <i v-if="emojiContainerActive === false" @click="toggleEmojiContainer()"
                            class="bi bi-emoji-smile-upside-down fs-3"></i>
                        <i v-else="" @click="toggleEmojiContainer()"
                            class="bi bi-emoji-smile-upside-down-fill fs-3"></i>

                        <div class="input-group p-1">
                            <input id="inputMessage" v-model="newMessage" @keydown.enter="pushMessage()" type="text"
                                class="form-control shadow-none" placeholder="Scrivi un messaggio" aria-label="search"
                                aria-describedby="basic-addon1" :class="leftMenu === true ? 'pe-none' : ''">
                        </div>
                        <i v-if="newMessage === ''" class="bi bi-mic fs-3"></i>
                        <i v-else @click="pushMessage()" class="bi bi-send fs-3"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>