body {
    height: 100vh;
    background: rgb(218, 219, 212);
    background: linear-gradient(0deg, rgba(218, 219, 212, 1) 93%, rgba(0, 150, 136, 1) 93%);
}

figure,
h3 {
    margin-bottom: 0;
}

#header-propic {
    background-color: #EAEAEA;
    height: 90vh;
}

#contacts-list {
    height: 90vh;
}

figure img {
    width: 50px;
}

i:hover,
.chat-box:hover {
    cursor: pointer;
}

.name {
    font-size: 18px;
}

.after-name {
    font-size: 14px;
}

#alert-new-messages {
    background-color: #8EDAFC;
}

#alert-new-messages i {
    color: #8EDAFC;
}

#alert-new-messages figure {
    padding: 10px;
}

#chat-background {
    background-image: url('../img/mine.jpg');
    height: calc(90vh - 134px);
    position: relative;
}

#last-message-contacts {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.message-box {
    position: relative;
    width: 45%;
}

.message-box span:nth-child(2) {
    font-size: 12px;
    position: absolute;
    right: 5px;
    bottom: 2px;
}

.message-box-sent {
    background-color: #D5F9BA;
    margin-left: auto;
}

.message-box-received {
    background-color: #FFFFFF;
    margin-right: auto;
}

#text-area {
    height: 66px;
    background-color: #F3EEEA;
}