body {
    height: 100vh;
    background: rgb(218, 219, 212);
    background: linear-gradient(0deg, rgba(218, 219, 212, 1) 93%, rgba(0, 150, 136, 1) 93%);
}

figure,
h3 {
    margin-bottom: 0;
}

#header-propic {
    background-color: #EAEAEA;
}

figure img {
    width: 50px;
}

i:hover {
    cursor: pointer;
}

.name {
    font-size: 18px;
}

.after-name {
    font-size: 14px;
}

#alert-new-messages {
    background-color: #8EDAFC;
}

#alert-new-messages i {
    color: #8EDAFC;
}

#alert-new-messages figure {
    padding: 10px;
}

#chat-background {
    background-image: url('../img/mine.jpg');
    height: calc(100% - 66px);
}

#last-message-contacts {

    text-wrap: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;

}